* {
  box-sizing: border-box;
}

:root {
  font-size: inherit;
  --big: 4rem;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ccc;
}

h1 {
  text-align: center;
  font-size: var(--big);
  background-color: black;
  color: lightblue;
  margin: 0;
  padding: 45px 0;
}

footer {
  margin-top: auto;
  font-size: 0.7rem;
}

.add {
  margin-top: 25px;
  background-color: #4caf50;
  color: white;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: red;
}

.close:hover {
  transform: scale(1.2);
}

.time {
  margin: 25px;
  font-family: "Audiowide", sans-serif;
  font-weight: 500;
  font-style: normal;
  transition:
    transform 0.2s ease-out,
    color 0.1s ease-out;
}
/* use it in js for pulsing */
.pulse-warning {
  transform: scale(1.4);
  color: #f44336;
}

.timer {
  position: relative;
  font-size: 6rem;
  width: 100%;
  font-weight: 900;
  padding: 15px 0;
}

.mobile-ui {
  width: clamp(320px, 90%, 650px);
  margin: auto;
  border: 7px solid black;
  min-height: 100vh;
  border-radius: 25px;
  overflow: hidden;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  /* transition: width 1 linear; */
}

.btn {
  padding: 5px 10px;
  border-radius: 50%;
  width: 120px;
  aspect-ratio: 1/1;
  border: none;
  cursor: pointer;
  font-size: 28px;
  font-weight: 600;
  color: white;
  background-color: #333;
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  transform: scale(1.2);
}

.flex-horizon {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 25px;
}

.progress-container {
  width: 100%;
  height: 30px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background-color: rgb(47, 111, 184);
  /* transition: width 1s linear; */
}

.progress-bar.low-time {
  background-color: #f44336;
}

/* Sessions style */

.stats {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

.session-icons {
  margin-top: 5px;
  letter-spacing: 5px;
}

.session-icons span {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: gray;
  border-radius: 50%;
}

.session-icons .success {
  background-color: #4caf50;
}

.clear {
  border-radius: 15px;
  background-color: darkred;
  margin: 25px auto 0;
}
